
body {
    background-image: url("../assets/background-img.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

header {
    background-color: white;
    height: 30%;
}

main {
    background-color: white;
    height: 100vh;
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    border-radius: 6px;
    padding: 10px;
    padding-left: 20px;
}

section.inputs {
    margin: 10px;
}

h1 {
    margin-top: 10px;
}

.inptNum {
    border-radius: 3px;
    border: 1px solid black;
    padding: 3px;
    margin-right: 5px;
}

button {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    background-color: rgb(132, 231, 231);
}

button:hover {
    cursor: pointer;
    background-color: aqua;
}

section.fila, section.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

div.ret-fila, div.ret-lista {
    display: flex;
    width: 90%;
    border: 1px solid black;
    height: 80px;
}

div.quadr-fila, div.quadr-lista{
    width: 20%;
    border: 1px solid black;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

section.pilha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

div.ret-pilha {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid black;
    height: 400px;
    margin-top: 20px;
}

div.quadr-pilha {

    height: 20%;
    border: 1px solid black;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;

}